<div class="col-md-2 bg-primary text-white vh-100 p-3">

    <h3 class="text-center">Hospital</h3>

    <hr>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a class="nav-link text-white" href="/dashboard">🏠 Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="/doctors">👨‍⚕️ Doctors</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="/patients">🧑 Patients</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="/appointments">📅 Appointments</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="/billing">💰 Billing</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="/">🚪 Logout</a>
        </li>

    </ul>

</div>